/*------First part_Home-----*/


.food .many span{
    color:rgb(138, 21, 247);
}

.food .row{
    display:flex;
    flex-basis: 31%;
   
}

.food h1{
    font-size: 40px;
    margin-top: 60px;
    margin-left: 28px;
    padding: 15px 10px;
    
}

.food p{
    margin-left: 28px;
    padding:10px 8px;
    font-size: 18px;
}

.food .image img{
    height: 80%;
    width:70%;
    margin-left: 150px;
    
}

.food a{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,#f44336);
    color:white;
    margin-left: 30px;
    font-weight: 700;
    font-size:19px;
    padding:10px 30px;
}


.food a:hover{
    color:darkcyan;
}


/* 2nd Part Missions  */


.recipies h1{
    text-align: center;
    color:black;
    font-size: 45px;
}
.many-foods h2{
  color:black;
  font-weight: 700;
}

.recipies span{
    color: rgb(138, 21, 247);
}


.recipies .changes{
    text-align: center;
    font-size: 22px;
    padding-left: 20%;
    padding-right: 10%;
    color:chocolate;
}

.recipies .menu{
    display: flex;
    
}


.recipies .many-foods img{
    height:60%;
    width:70%;

}


.recipies .many-foods{ 
    margin-left: 3%;
    margin-right: 4%; 
    color:red;
    border-radius: 30px;

}

.recipies .many-foods p{
    color:black;
}

.recipies .extra h1{
    padding-top: 40px;
}

.recipies{
    margin-bottom: 5%;
}
.mission1{
    background-color:rgb(167, 143, 143);
    border-radius: 30px;
    padding:15px;
}
.mission2{
    background-color:lavenderblush;
    border-radius: 30px;
    padding:15px;
}
.mission3{
    background-color:gainsboro;
    border-radius: 30px;
    padding:15px;
}


/* 3nd Part Develop Without Limits  */

.develop{
    margin-top: 60px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.develop .imag img{
    height: 75%;
    width:65%;
    margin-left: 90px;
    padding-top: 10px;
    margin-top: 60px;
    
}

.develop .row-data{
    display: flex;
}


.develop h1{
    font-size: 40px;   
    padding: 10px 8px;
    margin-top: 50px;
}


.develop p{  
    padding:10px 8px;
    text-align: justify;
    margin-right: 20px;
    font-size: 18px;
}



.develop a{
    text-decoration: none;
    background-image:  linear-gradient(lightsalmon,#f44336);
    color:white;
   
    font-weight: 700;
    font-size:19px;
    padding:10px 30px;
}

.develop a:hover{
    color:darkcyan;
}

.develop{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    margin-top: 90px;
    margin-bottom: 20%;
}


/* 4th Part global Community  */

.Global{
    margin-top: 60px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.Global .imag img{
    height: 75%;
    width:65%;
    margin-left: 90px;
    padding-top: 10px;
    margin-top: 60px;
    
}

.Global .ashik{
    display: flex;
}


.Global h1{
    font-size: 40px;   
    padding: 10px 8px;
    margin-top: 50px;
}


.Global p{  
    padding:10px 8px;
    text-align: justify;
    margin-right: 20px;
    font-size: 18px;
}



.Global a{
    text-decoration: none;
    background-image:  linear-gradient(lightsalmon,#f44336);
    color:white;
   
    font-weight: 700;
    font-size:19px;
    padding:10px 30px;
}

.Global a:hover{
    color:darkcyan;
}

.Global{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px;
    margin-top: 90px;
    margin-bottom: 20%;
}








